.dropdown-wrapper{
  display: inline-block;
  border-radius: 8px;
  z-index: 10 !important;
  max-width:243px;
  border: 1px solid lightcoral;
  cursor: pointer;
  .value{
    text-align: left;
    margin-top: 6px;
    margin-bottom: 30px;
    position: absolute;
    font-size: 14px;

  }
  .dropdown-box{
    padding: 0px 10px;
    max-width: 221px;
    height: 40px;
    border-radius: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .img-and-value{
    display: flex
  }
  .label{
  width: 200px;
  height: 24px;
  font-family: EffraRegular;
  font-size: 10px;
  font-weight: normal;
  transition: transform 0.5s;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.6);
  }
  .active{
    transform: translate(0, -11px);
    height: 16px;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #dd3333;
    text-align: initial;
  }
  .inactive{
  text-align: center;
  width: 200px;
  height: 24px;
  line-height: 125%;
  text-transform: none;
  font-family: "Flexo-Medium",arial,sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.6);
  }

  .options-list{
    list-style: none;
    margin-bottom: 0;
    max-height: 0;
    min-width: 248px;
    border-radius: 8px;
    transition: all 0.2s ease;
    overflow: hidden;
    position: absolute;
    margin-top:1px;
    
    z-index: 10;

    ul{
      list-style: none;
      margin-bottom: 0;
      padding-left: 0;


      li{
        padding: 14px 0;
        cursor: pointer;
        text-align: left;

        span {
          padding: 0 10px 0 10px;
          font-size: 13px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.31;
          letter-spacing: normal;
          color: rgba(0, 0, 0, 0.87);
        }
      }

      li:hover {
        background-color: rgba(221,51,51, 0.4);
        transition: all 0.5s ease;
      }
    }

    &.opened{
      max-height: 150px;
      transition: all 0.2s ease;
      overflow-y: auto;
      background-color: #ffffff;
      box-shadow: 0 3px 10px 0 rgba(34,36,38,.15);
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }

  .arrow-down {
    color: '#0095da';
    cursor: pointer;
    margin-bottom: 5px;
    
    img{
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      transition: all 400ms ease;
    }

    &.open {

      img{
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
        transition: all 400ms ease;
      }
    }
  }

  .tick{
    color: '#0095da';
    cursor: pointer;
    float: right;
    margin-top: 0;
    margin-right: 10px;
    width: 24px;
  }

  .arrow{
    width: 24px;
  }
}
.selected-item{
  color: #dd3333 !important;
}