.overlay {
  width: 100vw;
  height: 100vh;
  z-index: 125;
  background-color: rgba(0,0,0,0.8);
  position: fixed;
  display: flex;
  top:0;
  left:0;
  justify-content: center;
  align-items: center
}