.chip{
  max-width:250px;
  min-width: 150px;
  margin: 0 16px 0 16px;
  display: flex;
  height:40px;
  color: white;
  display: flex;
  padding: 0 8px 0 8px;
  position: relative;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  background-color: #dd3333;
  img{
    position: absolute;
    right:13px;
    width:14px;
    opacity:0.7
  }
   img:hover{
    position: absolute;
    right:13px;
    width:16px;
    opacity:1;
    cursor: pointer;
  }
}